<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>畅游BIReCall系统</title>
    <meta name="description" content="登录" />
    <meta name="keywords" content="index" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/ico" href="../assets/i/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="../assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="../assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="../assets/css/app.css" />
    <script src="../assets/js/jquery.min.js" type="text/javascript"></script>

</head>

<body data-type="login">
    <script src="../assets/js/theme.js" type="text/javascript"></script>
    <div class="am-g tpl-g">
        <!-- 风格切换 -->
       <!--   <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    	选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div> -->
        <div class="tpl-login">
            <div class="tpl-login-content">
                <div class="tpl-login-logo">

                </div>
<!--                  <div class="error" th:if="${param.error}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"> -->
<!-- 			      Reason: <span th:text="${errorMsg}">Wrong input!</span>  -->
<!-- 			     </div> -->
		        <div th:if="${param.error}" style="color:red;">
		            	用户名密码错误.
		        </div>
<!-- 		        <div th:if="${param.logout}"> -->
<!-- 		            You have been logged out. -->
<!-- 		        </div> -->

                <form class="am-form tpl-form-line-form" th:action="@{/login}" method="POST">
                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" name="username" placeholder="请输入账号"/>
                    </div>

                    <div class="am-form-group">
                        <input type="password" class="tpl-form-input" name="password" placeholder="请输入密码"/>
                    </div>
                    <div class="am-form-group tpl-login-remember-me">
                        <input id="remember-me" type="checkbox" name="remember-me"/>
                        <label for="remember-me">
                     		   记住密码
                         </label>
                    </div>


					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/></strong>

                    <div class="am-form-group">

                        <input name="submit" type="submit" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn" value="登录"/>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../assets/js/amazeui.min.js" type="text/javascript"></script>
    <script src="../assets/js/app.js" type="text/javascript"></script>

</body>

</html>